body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f4f6f8;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dropdown{
  position:relative;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:6px;
  background:#007BFF;
  color:white;
  cursor:pointer;
}

/* Dropdown menu */
.menu{
  position:absolute;
  top:120%;
  left:0;
  background:white;
  list-style:none;
  padding:0;
  margin:0;
  width:150px;
  border-radius:6px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);

  display:none;
}

.menu li{
  padding:10px;
  cursor:pointer;
}

.menu li:hover{
  background:#f1f1f1;
}