body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#111;
  color:white;
}

.container{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

h1{
  margin-bottom:20px;
}

#clock{
  font-family:"Courier New", monospace;
  font-size:48px;
  letter-spacing:3px;
}